// jumbotron

.jumbotron {
    @include flex;
    justify-content: space-between;
    padding: 40px 0;

    .jumbotrons-title{
         h1 {
            font-size: 43px;
        }

        p {
            font-size: 20px;
            padding: 20px 0;
        }
    }

    .jumbotrons-img img {
        height: 450px;
        width: auto;
    }
}

// jumbotron end

// details end


.details-section {
    background-color: $background_color;

    .details-section{
        border-bottom: 1px solid black;

        .rabbit {
            padding: 100px 0;

            img {
                height: 250px;
                width: auto;
            }
        }

        .title {
            padding: 60px 0;
        }

        .details-img {
            @include flex;
            justify-content: space-around;

            img {
                height: 100px;
                width: auto;
            }
        }
    }

    
}