// jumbotron

.jumbotron {
    @include flex;
    justify-content: space-between;
    padding: 40px 0;

    .jumbotrons-title{
         h1 {
            font-size: 43px;
        }

        p {
            font-size: 20px;
            padding: 20px 0;
        }
    }
}

// jumbotron end

// details start


.details-section-container,
.get-start-section-container {
    background-color: $background_color;

    .details-section{

        &.divider {
            border-bottom: 1px solid black;
        }

        .rabbit {
            padding: 100px 0;

            img {
                height: 250px;
                width: auto;
            }
        }

        .title {
            padding: 60px 0;
        }

        .details-img {
            @include flex;
            justify-content: space-around;

            img {
                height: 100px;
                width: auto;
            }
        }
    }
}

// details end


// tools start

// tools sx start

.tools-sx-container {
    @include flex;
    padding: 65px 0;

    .tools-xl-img img {
        height: 600px;
        width: auto;
    }

    .tools-info {
       width: 20%;

       &-title {
           h2 {
               padding-bottom: 20px;
           }
       }

       &-details {
           p{
              padding-bottom: 20px; 
           }
       }

       &-img {
           padding-top: 82px;
       }

       &-link {
           a {
              font-weight: bold;
              text-decoration: none;
           }
       }
    }
}
// tools dx end


// tools dx start

.tools-dx-container {
    @include flex;
    justify-content: flex-end;
    padding: 65px 0;

    .tools-xl-img img {
        height: 600px;
        width: auto;
    }

    .tools-info {
       width: 20%;
       margin-right: 25px;

       &-title {
           h2 {
               padding-bottom: 20px;
           }
       }

       &-details {
           p{
              padding-bottom: 20px; 
           }
       }

       &-img {
           padding-top: 82px;
       }

       &-link {
           a {
              font-weight: bold;
              text-decoration: none;
           }
       }
    }
}
// tools dx end
// details end

// get start section

.get-start-section-container {
    text-align: center;

    .get-start-title {
        font-size: 40px;
        padding: 60px 0;

        p {
            font-size: 40px;
            font-weight: bold;
        }

        img {
            height: 50px;
            width: auto;
        }
    }

    .box-info {
        width: 50%;
        margin: auto;
        background-color: #ffffff;
        border: 1px solid #939aba;
        border-radius: 5px;

        &-overview {
          text-align: start;
          padding: 15px;
        }

        &-img {
            @include flex;
            padding: 5px;
            padding-left: 8px;

            img {
                height: 40px;
                width: auto;
                padding: 0 7px;
            }
        }
    }

    .get-start-button{
        padding: 30px;
    }
}
// get start section


// media query 

@media screen and (max-width: 1250px) {

    .tools-sx-container {
        @include flex;
        flex-direction: column;
        padding: 65px 0;
    
        .tools-xl-img img {
            height: 100%;
            width: 100%;
        }
    
        .tools-info {
           width: 100%;
           text-align: center;
    
           &-title {
               h2 {
                   padding-bottom: 20px;
               }
           }
    
           &-details {
               p{
                  padding-bottom: 20px; 
               }
           }
    
           &-img {
               padding-top: 82px;

               img {
                height: 340px;
                width: auto;
               }
           }
    
           &-link {
               a {
                  font-weight: bold;
                  text-decoration: none;
               }
           }
        }
    }

    .tools-dx-container {
        @include flex;
        flex-direction: column;
        padding: 65px 0;
    
        .tools-xl-img img {
            height: 100%;
            width: 100%;
        }
    
        .tools-info {
           width: 100%;
           margin-right: 25px;
           text-align: center;

    
           &-title {
               h2 {
                   padding-bottom: 20px;
               }
           }
    
           &-details {
               p{
                  padding-bottom: 20px; 
               }
           }
    
           &-img {
               padding-top: 82px;

               img {
                height: 340px;
                width: auto;
               }
           }
    
           &-link {
               a {
                  font-weight: bold;
                  text-decoration: none;
               }
           }
        }
    }
}


@media screen and (max-width: 850px) {
    .jumbotron {
        @include flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 0;
    
        .jumbotrons-title{
             h1 {
                font-size: 43px;
            }
    
            p {
                font-size: 20px;
                padding: 20px 0;
            }
        }
    }
 }


 @media screen and (max-width: 550px) {
    .details-section-container {
    
        .details-img{
            flex-direction: column;
            align-items: center;

            > div {
                padding-top: 40px;
            }
        }
    }

    .tools-sx-container,
    .tools-dx-container {

        .tools-info {

            &-img {
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}