header{
    padding: 10px 0;

    .container {
        @include flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid black;

        .list-container {
            @include flex;

            .menu {
                align-items: center;

                li {
                    display: inline-block;
                    padding-right: 10px;
            }
          }

          button {
            color: blue;
            padding: 10px;
            border: 1px solid blue;
            border-radius: 4px;

            span {
                padding-left: 3px;
            }
        }
        }
    }
}


@media screen and (max-width: 550px) {

    header{
        
    .container {

        .list-container {
            display: none;
        }
    }
}
}
